.park-page {
  position: absolute;
  background: transparent;
  text-shadow: -.75px 0 black, 0 .75px black, .75px 0 black, 0 -.75px black;
  color: white;
  margin-top: 130px;
  width: 1500px;
  height: 760px;;
  overflow-y: scroll;
}

.park-page-loading {
  position: absolute;
  background: transparent;
  margin-top: 350px;
  margin-left: 600px;
  
}

li.result-entry {
  margin-left: 20px;
  margin-right: 50px; 
}

li.result-entry-map {
  margin-left: 20px;
  margin-right: 50px; 
  /* background: blue;
  height: 80vh;
  width: '100%'; */
}

h1.result-name {
  font-size: 42px;
  text-align: center;
  margin-bottom: -10px;
}

li.result-entry button{
  margin-bottom: 20px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
  text-decoration: none; 
  text-align: left;
  background: transparent;
  border: none;
}

li.result-entry button:hover{
  color: white; 
  text-decoration: underline;
  cursor: pointer; 
}

h2.result-header {
  font-size: 32px;
}

h2.result-subheader {
  font-size: 36px;
  /* text-decoration: underline; */
}

p.result-description {
  margin-top: -15px;
  font-size: 23px;
}