.search-page {
    position: fixed;
    margin-left: 380px;
    height: 100px;
    margin-top: -350px;
    /* background: red; */
    width: 1400px;
    
}

form.search-form {
    /* position: fixed; */
    z-Index: 10;
    margin-top: -80px;
    
}

.type-select {
    color: red;
    
}

.state-select {
    /* margin-left: 300px; */
    /* position: fixed; */
    height: 80px;
    margin-left: 477px;
    margin-top: -85px;
}

input.search-input {
    padding-left: 3px;
    margin-left: 610px;
    position: fixed;
    background: transparent;
    width: 880px;
    height: 80px;
    font-Size: 50px;
    color: white;
    font-Family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
    font-Weight: 70;
    border-radius: 15px;
    border: 1.5px solid white;
}


input.search-input::placeholder {
    color: white;
}

button.search-submit {
    left: 1417px;
    width: 80px;
    position: absolute;
    height: 86px;
    background:  #1e6ff0;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    /* align-content: center; */
}