.toggle-button {
  display: block;
  justify-content: space-around;
  color: white;
  height: 100px; 
  width: 100%; 
  background: transparent;
  border: none;
  cursor: pointer;
  /* margin-bottom: 10px;
  margin-top: 15px; */
  list-style: none;
  align-content: center;
  text-align: left;
}

.fa-search{
  color: white;
  size: x;
}

.fa-home{
  color: white;
  size: x;
}

.fa-chevron-right{
  color: white;
}

.fa-chevron-left{
  color: white;
}

.toggle-button-text{
  /* display: inline-block; */
 /* align-content: center; */
 margin-top: 20px;
}

.toggle-button:hover {
  background: linear-gradient(120deg, rgb(102, 102, 102) 0%, hsl(0, 0%, 65%) 6000%);
}

.toggle-button-text {
  font-size: 60px;
  color: rgb(75, 190, 221);
  display: inline-block;
}

.toggle-button:focus {
  outline: none;
}
