.toolbar {
    position: fixed;
    width: 380px;
    background: black;
    height: 100%;
    margin-left: -8px;
  }
  
  .mini_toolbar {
    position: fixed;
    width: 90px;
    background: black;
    height: 100%;
    margin-left: -8px;
  }

  .toolbar__icon {
    text-decoration: none;
    float: none;
    list-style: none;
    display: inline-block;  
    align-content: center;
    width: 100%;   
    margin-left: -28px;
  }

  .toolbar__logo {
    text-decoration: none;
    float: none;
    list-style: none;
    display: inline-block;  
    align-content: center;
    width: 100%;   
    margin-left: -35px;
    
  }

  p.toolbar__icon {
    float: none;
  }

  p.title{
    float: right;
    color: white;
    margin-top: 20px;
    margin-left: 30px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    font-size: 35px;
  }
  
  .toolbar_navigation-items ul {
    list-style: none;
    display: block;
  }